*{
    width: 310;
}

@media (max-width: 310px) {
    *{
        width: 300;
    }
}

body{
    background-color: #EB9F09;
    font-family: sans-serif;
}

div.imagem{
    text-align: center;
}

div.formulario{
    text-align: center;
}
