*{
    box-sizing: border-box;
}

body{
    background-color: #EB9F09;
    font-family: sans-serif;
    font-size: 15px;
    display: flex;
    margin: 0;
    min-height: 100vh;
}

.models{
    display: none;

}

header{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    height: 60px;
    background-color: red;
    display: none;
    justify-content: flex-end;
    align-items: center;
}

.menu_openner{
    margin-right: 15px;
    font-size: 26px;
    background-color: white;
    padding: 5px, 20px;
    border-radius: 5px;
}

.menu_openner span {
    margin-right: 10px;
}

.menu_closer{
    width: 32px;
    height: 32px;
    display: none;
    font-size: 30px;
}

aside{
    background-color: #eb3e09;
    width: 0vw;
    font-family: sans-serif;
    transition: all ease .2s;
    overflow-x: hidden;
}

aside.show{
    width: 30vw;
}

.cart_area{
    padding: 20px;
}

main{
    flex: 1;
    padding: 20px;
}

h1{
    font-family: sans-serif;
}

.models_area{
    display: none;
    grid-template-columns: repeat(3, 1fr);
}

.models_item{
    text-align: center;
    max-width: 250px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0 auto 50px auto;
}

.models_item a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}

.models_item_img {
    width: 200px;
    height: 200px;
    background-color: #0920eb;
    border-radius: 100px;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.2);
}

.models_item_img img {
    width: 100%;
    height: auto;

}

.models_item_add{
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 25px;
    background-color: #0963eb;
    text-align: center;
    color: white;
    font-size: 22px;
    cursor: pointer;
    margin-top: -25px;
    transition: 0 ease .2s;
}

.models_item a:hover .models_item_add{
    background-color: #EB9F09;
}

.models_item_price{
    font-size: 15px;
    color: black;
    margin-top: 5px;
}

.models_item_name{
    font-size: 20px;
    color: #000;
    font-weight: bold;
    margin-top: 5px;
}

.models_item_desc{
    font-size: 13px;
    color: #555;
    margin-top: 10px;
}

.models_window_area{
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.5);
    display: none;
    transition: all ease .5s;
    justify-content: center;
    overflow: auto;
}

.models_window_body{
    width: 900px;
    background-color: aliceblue;
    border-radius: 10px;
    box-shadow: 0px 0px 15px #999;
    display: flex;
    margin: 20px 0;
}
.modelsBig{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modelsBig_back{
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: #000;
}

.modelsBig img{
    height: 400px;
    width: auto;
}

.modelsInfo {
    flex: 1;
    font: sans-serif;
    padding-bottom: 50px;
}

.modelsInfo h1 {
    margin-top: 50px;
}

.modelsInfo .modelsinfo_desc{
    font-size: 15px;
    color: #999;
    margin-top: 10px;
    font-family: sans-serif;
}

.modelsInfo_sector {
    color: #ccc;
    text-transform: uppercase;
    font-size: 14px;
    margin-top: 30px;
    margin-bottom: 10px;
}

.models_sizes{
    display: inline-flex;
    border-radius: 10px;
    overflow: hidden;
}

.modelsInfo_size{
    padding: 10px 15px;
    color: #000;
    background-color: #eee;
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
}

.modelsInfo_size :hover{
    background-color: #ccc;
}

.modelsInfo_size.selected{
    background-color: #09eb09;
    color: #fff;
}

.modelsInfo_size.selected span{
    color: #ccc;
}

.modelsInfo_size span{
    font-size: 12px;
    color: #999;
    font-weight: normal;
}

.modelsInfo_price{
    display: flex;
    align-items: center;
}

.modelsInfo_actualPrice{
    font-size: 28px;
    margin-right: 30px;
}

.modelsInfo_qtarea{
    display: inline-flex;
    background-color: #eee;
    border-radius: 10px;
    height: 30px;
}
.modelsInfo_qtarea button{
    border: 0;
    background-color: transparent;
    font-size: 17px;
    outline: 0;
    cursor: pointer;
    padding: 0 10px;
    color: #333;
}
.modelsInfo_qt{
    line-height: 30px;
    font-size: 12px;
    font-weight: bold;
    padding: 0 5px;
    color: #000;
}

.modelsInfo_addButton{
    margin-top: 30px;
    padding: 20px 30px;
    border-radius: 20px;
    background-color: #09eb41;
    color: #fff;
    display: inline-block;
    cursor: pointer;
    margin-right: 30px;
}

.modelsInfo_addButton :hover{
    background-color: green;
}

.modelsInfo_cancelButton{
    display: inline-block;
    cursor: pointer;
}

.modelsInfo_cancelMobileButton{
    display: none;
    height: 40px;
    text-align: center;
    line-height: 40px;
    margin-bottom: 30px;
}

.cart{
    margin-bottom: 20px;
}

.cart_item{
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.cart_item img{
    width: 40px;
    height: 40px;
    margin-right: 20px;
}

.cart_item_name{
    flex: 1;
}

.cart_item_qtarea{
    display: inline-flex;
    background-color: #eee;
    border-radius: 10px;
    height: 30px;
}

.cart_item_qtarea button{
    border: 0;
    background-color: transparent;
    font-size: 17px;
    outline: 0;
    cursor: pointer;
    padding: 0 10px;
    color: #000;
}

.cart_item_qt{
    line-height: 30px;
    font-size: 12px;
    font-weight: bold;
    padding: 0 5px;
    color: #000;
}

.cart_totalitem{
    padding: 15px 0;
    border-top: 1px solid red;
    color: #eb3e09;
    display: flex;
    justify-content: space-between;
    font-size: 15px;
}

.cart_totalitem span:first-child {
    font-weight: bold;
}

.cart_totalitem.big{
    font-size: 20px;
    color: #000;
    font-weight: bold;
}

.cart_finalizar{
    padding: 20px 30px;
    border-radius: 20px;
    background-color: #eb3e09;
    color: #fff;
    cursor: pointer;
    text-align: center;
    margin-top: 20px;
    border: 2px solid #EB9F09;
    transition: all ease .2s;
}


.cart_finalizar:hover{
    background-color: #EB9F09;
}

@media (max-width:1000px){
    .models_area{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width:840px){
    body{
        flex-direction: column;
    }

    .models_area{
        display: block;
    }

    .models_item{
        max-width: 100%;
    }

    header{
        display: flex;
    }

    main{
        padding-top: 60px;
    }

    aside{
        width: auto;
        position: fixed;
        left: 100vw;
        right: 0;
        top: 0;
        bottom: 0;
        transition: all ease .2s;
    }

    aside.show{
        width: auto;
    }

    .cart_area{
        width: 100vw;
    }

    .menu_closera{
        display: block;
    }

    .models_window_area{
        justify-content: flex-start;
        align-items: flex-start;
    }

    .models_window_body{
        width: 100vw;
        display: block;
        padding: 20px;
        border-radius: 0;
        box-shadow: none;
        margin: 0;
    }

    .modelsBig img{
        width: 75%;
        height: auto;
    }

    .modelsinfo h1{
        margin-top: 20px;
    }

    .modelsInfo_qtarea {
        height: 60px;
    }

    .modelsInfo_qtarea button{
        font-size:25px;
        padding:0 25px;
    }

    .modelsInfo_qt{
        line-height: 60px;
        font-size: 20px;
    }

    .modelsInfo_addButton{
        font-size:20px;
        display:block;
        text-align: center;
        margin: 30px auto;
    }

    .modelsInfo_cancelbutton{
        display: none;
    }

    .modelsInfo_cancelMobileButton{
        display:block;
    }
}
