*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

section{
    margin: auto;
    text-align: center;
    margin-top: 32px;
    height: 50px;
    width: 310px;
}

@media (max-width: 310px) {
    section{
        width: 300;
    }
}

body{
    background-image: url(images/Tela\ 1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-color: #EB9F09;
}

.menu{
    width: 310px;
    height: 50px;
}

.inicio{
    font-size: 20px;
    list-style: none;
    background-color: rgb(190, 6, 6);
    padding-top: 4px;
    border-radius: 10px;
    height: 48px;
    width: 309px;
    gap: 16px;
}
